.sticky-header-table {
  overflow: auto;
}

.sticky-header-table thead {
  position: sticky;
  top: 35px;
  background-color: #fff; /* Puedes ajustar el color de fondo según tus necesidades */
  z-index: 100;
}
table.sticky-header-table caption{
    position: sticky;
    /* border: 1px solid; */
    top: 0;
    z-index: 200;
    background-color: #fff;
}
